body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  
}

h1 {
  font-size: 5rem;
}



footer {
  text-align: right;
  color: midnightblue;
}
.tile-image{
  margin-right: 50px;
}
.tile-image{
  height: 220px;
  float: left;
}
.left{
  float: left;
}
.card{

  text-align: justify;
}

footer{
  clear: both;
}

@media (min-width:319px) and (max-width:600px){
.main{
  display: inline-block;
}
}




